	<h2>Login</h2>
    <form method='post' action='/login'>
    	<p>
    		<label for='login'>Login: </label>
    		<input type='text' id='login' name='login' value='' size='30' />
		</p>
    	<p>
    		<label for='password'>Password: </label>
    		<input type='password' id='password' name='password' value='' size='30' />
		</p>
    	<p>
    		<input type='submit' value='Login'/>
		</p>
	</form>
